*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ddd;
}

.headerContainer {
}

.headerContainer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0px 5px;
  padding: 5px 5px 8px 5px;
  /* margin: 5px; */
}

/* .brand {
  padding: 5px 5px 8px 5px;
  margin: 5px;
} */

.headerContainer > div > form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.headerContainer > div > form > input {
  flex-basis: 200px;
  height: 40px;
}

.headerContainer > div > form > button {
  flex-basis: 100px;
  height: 40px;
}

.userInfoContainer {
  display: flex;
  flex-direction: row;
}

.loading {
  font-size: 22px;
  color: #fff;
  margin: 0px 20px 0px 0px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: #fff;
  flex-wrap: wrap;
}

.userInfo > div {
}

.gameInfo {
  display: flex;
  flex-direction: row;
}

.gameInfo > div {
  padding: 10px;
  margin: 5px auto;
}

.luckynum {
  font-size: 40px;
}

.join {
  display: flex;
  flex-direction: column;
}

.join > p {
  margin: 10px 0px 0px 0px;
}

.join > * {
  margin: 2px 0px;
}

.join > div > * {
  margin: 1px 0px;
}

.gameControl {
  margin: 20px;
}

.gameControl > div {
  margin: 20px auto;
  width: 400px;
}

.gamePageButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gamePageButtons > button {
  flex-basis: 200px;
}

.gameFlyer {
  background-color: #ffc1075c;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 29%;
}

.gameFlyer:hover {
  background-color: #ffc107ab;
  cursor: pointer;
}
